<table mat-table [dataSource]="cities" class="mat-elevation-z8">
    <ng-container matColumnDef="cityName">
      <th mat-header-cell *matHeaderCellDef  style="width:150px"> City Name </th>
      <td mat-cell *matCellDef="let element"  style="width:150px"> {{element.cityName}} </td>
    </ng-container>  
    <ng-container matColumnDef="data">
      <th mat-header-cell *matHeaderCellDef  style="width:150px"> Fetch Data</th>
      <td mat-cell *matCellDef="let element"  style="width:150px">      
              <button *ngIf="!element.id" (click)="getData(element.cityName)" mat-raised-button color="primary">Get Data</button>
              <button *ngIf="element.id" (click)="deleteData(element.id,element.cityName)" mat-raised-button color="primary" >Get New Data</button>
      </td>
    </ng-container>
    <ng-container matColumnDef="temp">
        <th mat-header-cell *matHeaderCellDef  style="width:150px"> Temperature</th>
        <td mat-cell  *matCellDef="let element"  style="width:150px"> {{element.temperature}} </td>
      </ng-container>
      <ng-container matColumnDef="humidity">
        <th mat-header-cell *matHeaderCellDef  style="width:150px"> Humidity</th>
        <td mat-cell *matCellDef="let element"  style="width:150px"> {{element.humidity}} </td>
      </ng-container>
      <ng-container matColumnDef="icon">
        <th mat-header-cell *matHeaderCellDef  style="width:150px"> Icon</th>
        <td mat-cell *matCellDef="let element"  style="width:150px">
            <img [src]="element.image">
        </td>
      </ng-container>
      <ng-container matColumnDef="predict">
        <th mat-header-cell *matHeaderCellDef style="width:150px">Predict</th>
        <td mat-cell *matCellDef="let element" style="width:150px">
            <button *ngIf="!!element.temperature &&!element.predict"  mat-raised-button (click)="predict(element.cityName,element.temperature,element.humidity)"  color="primary">Predict</button> 
            <button *ngIf="!!element.predict && !element.id"  mat-raised-button (click)="save(element)"  color="primary">Save</button> 
            <span *ngIf="!!element.predict && !!element.id">{{element.predict}}</span>
        </td>
      </ng-container>
      <ng-container matColumnDef="rainy">
        <th mat-header-cell *matHeaderCellDef  style="width:150px"> Rainy?</th>
        <td mat-cell *matCellDef="let element"  style="width:150px">
            <span *ngIf="!!element.predict">
            {{element.predict > 50 ? "will rain":"will not rain"}}
        </span>
        </td>
      </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>