<mat-card >
    <h1>Sign-Up</h1>
    <form #registerForm = "ngForm" (ngSubmit) = "onSubmit()" >
        <div>
            <div>
                <mat-form-field appearance="fill">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="example:you@you.com"
                    [(ngModel)]= email
                    name = email
                    (ngModelChange)="clearError()"
                    required>
                    <mat-hint>The one you really read</mat-hint>
                </mat-form-field>

            </div>
             <div style="color:red;padding-top:10px" *ngIf="!!emailErrorMessage">{{emailErrorMessage}}</div>
            <div>
                <mat-form-field appearance="fill">
                    <mat-label>Password</mat-label>
                    <input matInput placeholder="example:12345678"
                    [(ngModel)]= password
                    name = password
                    type="password"
                    required >
                    <mat-hint>8 chracters or more</mat-hint>
                </mat-form-field>
            </div>
        
            <div>
             <button [disabled] ="!registerForm.form.valid" type = "submit" mat-raised-button color="primary">Sign-Up</button>
            </div>
        </div>
    </form>


</mat-card> 